.type-writer-box {
  display: inline-block;

  .rect {
    display: inline-block;
    margin-left: 4px;
    width: 2px;
    height: 12px;
    background-color: #FFFFFF;

    &.typingEnd {
      animation: flashing 1s ease-in-out infinite;
    }
  }

  @keyframes flashing {
    0% {
      opacity: 1;
    }

    100% {
      opacity: 0;
    }
  }
}
