.modalBox {
  .modal-main {
    width: 100%;
    height: 100%;
  }
}

.gameBox {
  padding: 16px 12px;
  width: 100%;
  height: 100%;
  color: #FFFFFF;
  background-color: #3C3C3C;

  .gameMain {
    .gameOpponentBox {
      margin-top: 24px;

      title {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    .imgListBox {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 12px 0;

      .imgListItem {
        width: 100px;
        height: 100px;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        cursor: pointer;
        transition: transform .25s ease-in;

        &:hover {
          transform: scale(1.2);
        }
      }
    }

    .resultBox {
      display: flex;
      justify-content: space-around;
      align-items: center;

      title {
        margin-bottom: 4px;
      }

      .resultItemBox {
        .resultItemImg {
          border: 1px solid #FFFFFF;
          width: 80px;
          height: 80px;
          background-repeat: no-repeat;
          background-size: 100% 100%;
        }
      }
    }
  }
}
