.indexMain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-image:
    repeating-linear-gradient(
      45deg,
      hsl(0deg 0% 100%),
      hsl(0deg 0% 100%) 13px,
      hsl(0deg 0% 95%) 13px,
      hsl(0deg 0% 95%) 14px
    );

  .testBtn {
    margin-bottom: 12px;
  }

  .main {
    position: relative;

    .maskCanvas {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      width: 100%;
      height: 100%;
    }
  }
}
