/* stylelint-disable declaration-block-no-redundant-longhand-properties */
.indexMain {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  // background-image:
  //   repeating-linear-gradient(
  //     45deg,
  //     hsl(0deg 0% 100%),
  //     hsl(0deg 0% 100%) 13px,
  //     hsl(0deg 0% 95%) 13px,
  //     hsl(0deg 0% 95%) 14px
  //   );

  .flashBox {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;

    &.flash {
      display: block;
      animation-name: flash;
      animation-duration: .1s;
      animation-timing-function: ease-in-out;
      animation-iteration-count: 3;
    }
  }

  @keyframes flash {
    from { background: rgba(255 255 255 / 100%); }
    to { background: rgba(0 0 0 / 50%); }
  }

  .testBtn {
    margin-bottom: 12px;
  }

  .main {
    position: relative;
    display: flex;

    .canvasMain {
      position: relative;

      .maskCanvas {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
      }
    }
  }
}
