.modal-wrap {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #000000;

  .modal-main {
    min-width: 450px;
    min-height: 450px;
    background-color: #EDEDED;

    &.main-animation {
      animation: main-show 1s cubic-bezier(.6, .06, .83, 1.42);
    }
  }

  @keyframes main-show {
    0% {
      opacity: 0;
      transform: scale(0);
    }

    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
}
