body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-size: 16px;
  font-weight: 400;
  color: #333333;
  // color: #68F9CB;
  background: #FFFFFF;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: none;
  -moz-osx-font-smoothing: none;
  font-feature-settings: "tnum";
}

td,
th,
caption {
  font-size: 14px;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: #555555;
}

a:hover {
  text-decoration: underline;
}

img {
  border: none;
}

ol,
ul,
li {
  list-style: none;
}

input,
textarea,
select,
button {
  font: 14px Verdana, Helvetica, Arial, sans-serif;
}

table {
  border-collapse: collapse;
}

html {
  overflow-y: scroll;
}

.clearfix::after {
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
  content: ".";
}

.clearfix {
  zoom: 1;
}

.title-1 {
  font-size: 24px;
  text-align: center;
}

title {
  display: block;
}

.btn {
  height: 1.5rem !important;
  min-height: 1.5rem !important;
}

#message-wrapper {
  position: fixed;
  top: 8px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
}
