/* stylelint-disable declaration-block-no-redundant-longhand-properties */
/* stylelint-disable function-url-quotes */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-size: 16px;
  font-family: ZpixLocal, Helvetica, Arial, Verdana, Tahoma, sans-serif;
  font-weight: 400;
  color: #333333;
  background: #FFFFFF;
  cursor: url("./assets/images/cursor.png"), auto;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: none;
  -moz-osx-font-smoothing: none;
  font-feature-settings: "tnum";
}

td,
th,
caption {
  font-size: 14px;
}

a {
  text-decoration: none;
  color: #555555;
}

a:hover {
  text-decoration: underline;
}

img {
  border: none;
}

ol,
ul,
li {
  list-style: none;
}

input,
textarea,
select,
button {
  font-size: 14px;

  &:hover {
    cursor: url("./assets/images/cursor-click.png"), auto;
  }
}

.diy-hover-cursor {
  cursor: url("./assets/images/cursor-click.png"), auto;
}

table {
  border-collapse: collapse;
}

html {
  overflow-y: scroll;
}

.clearfix::after {
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
  content: ".";
}

.clearfix {
  zoom: 1;
}

.title-1 {
  font-size: 24px;
  text-align: center;
}

title {
  display: block;
}

#message-wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
}

@font-face {
  font-family: ZpixLocal;
  // src: url(zpix.woff2);
  src: url("./assets/fonts/zpix-split.woff");
}

.text-shadow {
  text-shadow: 2px 2px 0 #4A7C82, -2px -2px 0 #E59999;
}

.btn {
  padding: 1rem 2rem;
  height: auto;
  min-height: auto;
  font-size: 1rem;
  box-shadow: 2px 2px 0 #B8B6B6 inset, -2px -2px 0 #292626 inset;
  line-height: normal;
}

.btn-accent {
  box-shadow: 2px 2px 0 #72ABA6 inset, -2px -2px 0 #249B90 inset;
}

.btn-primary {
  box-shadow: 2px 2px 0 #9983CF inset, -2px -2px 0 #22114A inset;
}

.text-info-shadow {
  text-shadow: 2px 2px 0 #4A827E, -2px -2px 0 #A03A85;
}

.theme-bg {
  background-color: #D1FAE5;
}

.nes-btn {
  padding: 1rem 2rem;
  height: auto;
  min-height: auto;
  font-size: 1rem;
  border-image-repeat: stretch;
}

.nes-progress {
  border-image-repeat: stretch;
  transform: all .3s linear;
}

.nes-diy-border {
  position: relative;
  display: inline-block;
  margin: 4px;
  border-style: solid;
  border-width: 4px;
  padding: 6px 8px;
  text-align: center;
  color: #212529;
  background-color: #FFFFFF;
  border-image-slice: 2;
  border-image-width: 2;
  border-image-source: url('data:image/svg+xml;utf8,<?xml version="1.0" encoding="UTF-8" ?><svg version="1.1" width="5" height="5" xmlns="http://www.w3.org/2000/svg"><path d="M2 1 h1 v1 h-1 z M1 2 h1 v1 h-1 z M3 2 h1 v1 h-1 z M2 3 h1 v1 h-1 z" fill="rgb(33,37,41)" /></svg>');
  border-image-outset: 2;
  vertical-align: middle;
  cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAzElEQVRYR+2X0Q6AIAhF5f8/2jYXZkwEjNSVvVUjDpcrGgT7FUkI2D9xRfQETwNIiWO85wfINfQUEyxBG2ArsLwC0jioGt5zFcwF4OYDPi/mBYKm4t0U8ATgRm3ThFoAqkhNgWkA0jJLvaOVSs7j3qMnSgXWBMiWPXe94QqMBMBc1VZIvaTu5u5pQewq0EqNZvIEMCmxAawK0DNkay9QmfFNAJUXfgGgUkLaE7j/h8fnASkxHTz0DGIBMCnBeeM7AArpUd3mz2x3C7wADglA8BcWMZhZAAAAAElFTkSuQmCC) 14 0, pointer;
  user-select: none;
  border-image-repeat: stretch;

  &::after {
    position: absolute;
    top: -4px;
    right: -4px;
    bottom: -4px;
    left: -4px;
    content: "";
    box-shadow: inset -4px -4px #ADAFBC;
  }
}

::-webkit-scrollbar {
  /* 滚动条整体样式 */
  width: 10px;  /* 高宽分别对应横竖滚动条的尺寸 */
  height: 1px;
}

::-webkit-scrollbar-thumb {
  /* 滚动条里面小方块 */
  border-radius: 10px;
  background-color: skyblue;
  background-image:
    linear-gradient(
      45deg,
      rgb(255 255 255 / 20%) 25%,
      transparent 25%,
      transparent 50%,
      rgb(255 255 255 / 20%) 50%,
      rgb(255 255 255 / 20%) 75%,
      transparent 75%,
      transparent
    );
}

::-webkit-scrollbar-track {
  // border-radius: 10px;
  background: #EDEDED;

  /* 滚动条里面轨道 */
  box-shadow: inset 0 0 5px rgb(0 0 0 / 20%);
}
