.statusBox {
  position: absolute;
  top: 0;
  left: -11rem;
  margin-right: 12px;
  padding: 8px;
  height: 100%;
  box-shadow: 0 0 4px #CCCCCC;

  :global {
    .card {
      color: #FFFFFF;
      background: #3C3C3C;

      &.card-error {
        background: #EC393C;
      }
    }

    .card-body {
      padding: 8px;
    }
  }

  h1 {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
  }

  .itemBox {
    .titleBox {
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: bold;

      .badgeBox {
        margin-left: auto;
        color: #4EFF4E;

        i {
          font-style: normal;
          /* stylelint-disable-next-line font-family-no-missing-generic-family-keyword */
          font-family: ZpixLocal;
        }
      }
    }

    .avatarBox {
      display: flex;
      justify-content: center;
      margin-top: 12px;

      :global {
        .avatar {
          & > canvas {
            cursor: pointer;
            box-shadow: 0 0 3px #CCCCCC;
          }
        }
      }
    }
  }
}
